body {
    font-family: 'Open Sans', sans-serif;
    margin: 3.5rem 0 4.5rem 0;
}

/* Instead of always use class="d-flex align-items-center justify-content-center",
   this simpler class simplifies the process of centering things both horizontally and vertically */
   .center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-solid {
    transition: all 0.2s;
}