.wrapper .button {
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover {
    width: 9.5rem;
}

.wrapper .button .icon {
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 2.5rem;
    transition: all 0.3s ease-out;
}

.wrapper .button .icon i {
    font-size: 1rem;
    line-height: 2.5rem;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
    color: #fff;
}

.wrapper .button span {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 2.5rem;
    margin-left: 10px;
    transition: all 0.5s ease-out;
}

.wrapper #facebook span {
    color: #2374E1;
}

.wrapper #facebook:hover .icon {
    background: #2374E1;
}

.wrapper #twitter span {
    color: #1DA1F2;
}

.wrapper #twitter:hover .icon {
    background: #1DA1F2;
}

.wrapper #instagram span {
    color: #E1306C;
}

.wrapper #instagram:hover .icon {
    background: #E1306C;
}

.wrapper #youtube span {
    color: #ff0000;
}

.wrapper #youtube:hover .icon {
    background: #ff0000;
}